# Model configuration for various models used in the application
OLLAMA_HOST=http://localhost:11434
OLLAMA_MODEL=llama3.2
# MODEL_AGENTS=glm-5:cloud
# MODEL_COMMANDS=kimi-k2.5:cloud

# Application secret key for session management and security
APPLICATION_SECRET_KEY=ChangeMeLater

# Database configuration for the application
DATABASE_SERVER=localhost
DATABASE_PORT=3306
DATABASE_NAME=jobsync
DATABASE_USER=jobsync
DATABASE_PASSWORD=GenericUserPassword123$
DB_ROOT_PASSWORD=GenericRootPassword123$

# Additional API keys 
# PERPLEXITY_API_KEY=pplx-lotsofcharactershere123